@{
    ViewBag.Title = "Rate few movies";
}

<h2>Rate few movies</h2>
<link rel="stylesheet" type="text/css" href="../../Content/custombindings.css">
<link href="~/Content/indexmain.css" rel="stylesheet" />
<script src="~/Scripts/underscore.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.tmpl.js"></script>
<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/knockout-3.0.0.js"></script>
<script src="~/Scripts/App/starRating.js"></script>
<script id="moviesTemplate" type="text/x-jquery-tmpl">
    <div class="pin">
        <img src="${Poster.Imdb}" />
        <p>${Movie.Title}</p>
        <div data-bind="starRating: points"></div>
    </div>
    @*<label for="${Movie.Title}" >${Movie.Title}:</label>*@

</script>

<script type="text/javascript">
    $(document).ready(function () {
        var imagesInput = {
            start: 5,
            end: 10
        };

        SurveyViewModel = {
            points : ko.observable(1)
        }

        $.ajax({
            type: "POST",
            url: '/api/Main/GetAllImagesJson',
            data: JSON.stringify(imagesInput),
            success: success,
            dataType: "json",
            contentType: "application/json; charset=utf-8"
        }).done(function (data) {
            var obj = $('#moviesTemplate');
            $('#moviesTemplate').tmpl(data).appendTo('#imagescontainer');

            var container = document.querySelector('#imagescontainer');
            var msnry = new Masonry(container, {
                // options
                columnWidth: 200,
                itemSelector: '.item'
            });

            ko.applyBindings(SurveyViewModel,$('#imagescontainer')[0]);

            //$('#imagescontainer').masonry({
            //    columnWidth: 200,
            //    itemSelector: '.item'
            //});
        });



        var success = function (data) {
            alert("Yeah");
        };
    });
</script>

<body class="no-touch">
    <div class="wrap" id="mainId">
        @*<div data-bind="template: { name: 'movie-template', foreach: products }, starRating: points"></div>*@
    </div>

    <div id="imagescontainer" class="masonry">

    </div>

</body>