@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Movie Cafe</h1>
    <p class="lead">We wanted to create a place where movie lovers could rate movies they've watched, follow their friends movie watching experiences</p>

    <p><a href="http://mymoviecafe.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Features In Progress</h2>
        <p>
            You could rate movies, add movies to your watch list, follow friends, give and get suggestions on movies
        </p>
        <p><a class="btn btn-default" href="http://mymoviecafe.com">Learn more &raquo;</a></p>
    </div>
</div>